.header {
  padding: 2% 10%;
  position: fixed;
  background: transparent;
  width: 100vw;
  z-index: 99;
}

.navbar {
  background: transparent;
  border-radius: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border: 5px solid rgba(255, 255, 255, 0.5); 
  background:rgba(214, 182, 124, 0.549);
  backdrop-filter: blur(15px);   
}

.nav-scrolled {
  background: #d3ba8d;

  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.navbar-nav {
  display: flex;
  height: 100%;
}

.nav-link-active {
  color: white;
}
