@import url('https://fonts.googleapis.com/css?family=Arapey');

.about-page{
  section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    @media(width <= 768px){
      height: fit-content;
    }
  }
  
  .anim-container {
    position: absolute;
    display: block;
    width: 50%;
    color: #ebe1bc;
    // top: calc(50vh - 56px);
  
    &.up {
      right: 0;
    }
  
    &.down {
      left: 0;
    }

    @media(width <= 768px){
      position: relative;
      background: #75471c;
      width: 100%;
    }
  }
  
  .box {
    height: 1.2vh;
    width: 55vw;
    margin-bottom: -0.2vh;
    background: #75471c;
    display: block;
    @media(width <= 768px){
      display: none;
    }
  }
  
  .right-text {
    opacity: 0;
    color: #c6995c;
  }

  .svg-arrow {
    @media(width <= 768px){
      color: #ebe1bc !important;
      height: 4rem;
      width: 4rem;
      margin-top: -1.15rem;
    }
  }
}
